{erl_opts, [debug_info, warn_export_vars, warn_shadow_vars, warn_obsolete_guard]}.

{plugins, [
           {rebar3_erlydtl_plugin, ".*",
            {git, "https://github.com/tsloughter/rebar3_erlydtl_plugin.git", {branch, "master"}}},
           rebar3_jorel,
           rebar3_lint
          ]}.

{provider_hooks, [
                  {pre, [{compile, {erlydtl, compile}}]}
                 ]}.
{erlydtl_opts, [
                {auto_escape, false}
               ]}.

{deps, [
        {erlconf, {git, "https://gitlab.com/glejeune/erlconf.git", {branch, "master"}}},
        {vsn, "~> 1.1.0"},
        {color, "1.0.0", {pkg, erlang_color}},
        {getopt, "~> 1.0.1"},
        % {erlydtl, "~> 0.12.1"},
        {erlydtl, {git, "https://github.com/erlydtl/erlydtl.git", {branch, "master"}}},
        {ephemeral, "~> 2.0.4"},
        {hackney, "~> 1.15.1"},
        {jsx, "~> 2.9.0"},
        % {doteki, "~> 1.0.6"},
        {doteki, {git, "https://gitlab.com/glejeune/doteki.git", {branch, "master"}}},
        % {bucs, "~> 1.0.12"}
        {bucs, {git, "https://gitlab.com/glejeune/bucs.git", {branch, "master"}}}
       ]}.

{escript_incl_apps, [bucs, color, doteki, ephemeral, erlconf, erlydtl, getopt, hackney, idna, jorel, jsx, vsn]}.

{eunit_opts, [no_tty, {report, {unite_compact, [profile]}}]}.

{profiles, [
            {test, [
                    {deps, [
                            meck,
                            unite
                           ]}
                   ]},
            {docs, [
                    {deps, [
                            edown
                           ]},
                    {edoc_opts, [
                                 {doclet, edown_doclet}
                                 , {app_default, "http://www.erlang.org/doc/man"}
                                 , {source_path, ["src"]}
                                 , {overview, "overview.edoc"}
                                 , {stylesheet, ""}
                                 , {image, ""}
                                 , {edown_target, gitlab}
                                 , {top_level_readme, {"./README.md", "https://gitlab.com/glejeune/jorel"}}
                                ]}
                   ]},
            {release, [
                       {elvis, [
                        #{dirs => ["."],
                          filter => "rebar.config",
                          rules => [{elvis_project, no_deps_master_rebar, []}]}]}
                      ]}
           ]}.

{jorel, [
         {release,
          {jorel, "0.2.5-pre"}, [jorel, vsn, tempfile, sh, getopt, erlydtl, erlconf, color, bucs, sasl]},
         {ignore_deps, [eunit_formatters]},
         {all_deps, false},
         {upfrom, "0.2.3"},
         {output_dir, "_jorel"},
         {exclude_dirs, ["**/_jorel/**", "**/_rel*/**", "**/test/**"]},
         {include_src, false},
         {include_erts, true},
         {disable_relup, false},
         {providers, [jorel_provider_tar, jorel_provider_zip, jorel_provider_deb, jorel_provider_config]},
         {jorel_in, "http://localhost:8080"}
        ]}.

{elvis,
 [#{dirs => ["src", "test", "include"],
    filter => "*.erl",
    rules => [{elvis_style, line_length, #{limit => 180}},
              {elvis_style, no_tabs},
              {elvis_style, no_trailing_whitespace},
              {elvis_style, macro_names},
              {elvis_style, macro_module_names},
              {elvis_style, dont_repeat_yourself, #{min_complexity => 25}},
              {elvis_style, operator_spaces, #{rules => [{right, ","},
                                                         {right, "++"},
                                                         {left, "++"}]}}]}]}.
